span#dropdown-menu {
    display: inline-block;
}
span#dropdown-menu:hover {
}
span#dropdown-menu ul {
    background-color: #455a79;
    list-style: none;
    display: none;
}
span#dropdown-menu:hover ul {
    display: block;
}